services:
  whatsapp-bot:
    build:
      context: .
    container_name: whatsapp-bot
    restart: always
    stdin_open: true
    tty: true
    volumes:
      - whatsapp_sessions:/usr/src/app/Sessions
    expose:
      - "8080"
    environment:
      NODE_ENV: production

  admin-panel:
    build:
      context: ./frontend-next
    container_name: admin-panel
    restart: always
    expose:
      - "3000"
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API_URL: ""
